# Node modules
node_modules/

# Local env files
.env
.env.*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# IDE-specific
.idea/
*.sw?

# VitePress cache
docs/.vitepress/cache/

